<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<table>
  <tr>
    <th>Pokemon</th>
    <th>Name</th>
    <th>Level</th>
    <th>Health</th>
  </tr>

  <% @trainer.pokemons.each do |pokemon| %>
    <tr>
      <td> <%= pokemon.id %></td>
      <td> <%= pokemon.name %></td>
      <td> <%= pokemon.level %></td>
      <td> <%= pokemon.health %></td>
      <td><%= button_to "Damage!", damage_path(id: pokemon), :class => "button small", :method => :patch %></td>
    </tr>
  <% end %>
</table>

<% if @trainer == current_trainer %>
  <%= button_to "Create a Pokemon!", pokemons_path, :class => "button medium", :method => :get %>
<% end %>


